@page
@model FilmesCRUDRazor.Pages.Filmes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <p>
                <a class="btn btn-primary" asp-page="Create">
                    <span class="material-icons">add_circle_outline</span> New Movie
                </a>
            </p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Filme[0].Titulo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Filme[0].DataLancamento)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Filme[0].Genero)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Filme[0].Preco)
                            </th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Filme)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Titulo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataLancamento)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Genero)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Preco)
                                </td>
                                <td>
                                    <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@item.FilmeID"><span class="material-icons">edit</span></a>
                                    <a class="btn btn-info" asp-page="./Details" asp-route-id="@item.FilmeID"><span class="material-icons">info</span></a>
                                    <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.FilmeID"><span class="material-icons">delete</span></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
